/* variables */
:root {
  --bg-color: #F5ECE4;
  --primary-color: #734425;
  --secondary-color: #C26819;
  --black: #2E2E2E;
  --heading-font: "Outfit", sans-serif;
}

/* global properties */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--bg-color);
  color: var(--black);
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.btn{
  color: #fff;
  padding: 8px 20px;
  font-weight: 500;
}

.radius{
  border-radius: 10px;
}

a{
  text-decoration: none;
  display: inline-block;
}

img{
  width: 100%;
}

.w-full{
  width: calc(100vw - 10rem) !important;
  max-width: 1440px;
  margin: auto;
}

/* for all headings */
.heading{
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 6.5vw;
  color: var(--primary-color);
  text-transform: uppercase;
  line-height: 0.95;
  margin-bottom: 1.4rem;
}

/* local properties */

/* header */

header{
  padding: 1rem 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 1;
}

header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  max-width: 132px;
}
*{
  font-family: 'Oswald', sans-serif;
}
.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #f6939324;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .wrapper{
  clip-path: circle(75%);
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /* left: 20px; */
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background: #e8c052;
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  color: #fff;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.wrapper ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  margin: 15px 0;
}
.wrapper ul li a{
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  background: #022a0199;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
   background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  animation: rotate 1.5s linear infinite;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #fff;
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}

@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}

header .btn{
  background-color: var(--secondary-color);
}

#main{
  overflow: hidden;
}

#headphone{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 2.2%;
  width: 40vw;
  max-width: 660px;
  filter: drop-shadow(8px 35px 6px #00000025);
  will-change: transform;
  z-index: 9;
}

/* section 1 */

#section1{
  height: 100vh;
  width: 60vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#section1 h1{
  font-size: 11.5vw;
  line-height: 0.85;
  margin-bottom: 0;
}

/* section 2 */

#section2{
  min-height: 100vh;
  padding-top: 4vw;
}

#section2 .btn{
  background-color: var(--black);
  margin-top: 1.8rem;
}

#section2 .content-wrapper{
  max-width: 500px;
}

.feature-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.8rem;
  margin-top: 8vw;
}

.feature-box{
  border: 2px solid var(--black);
  padding: 1.2vw 1.4vw;
}

.feature-name{
  font-family: var(--heading-font);
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

/* section 3 */

#section3{
  min-height: 100vh;
  padding-top: 4vw;
  padding-bottom: 4vw;
}

#section3 .heading{
  font-size: clamp(2rem, 12.5vw, 13.5rem);
  text-align: center;
  text-wrap: balance;
  margin-bottom: 3vw;
}

#section3 video{
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 30px #73442536;
}

#section3 .content{
  max-width: 500px;
  margin-left: auto;
}

#section3 p{
  margin-top: 1rem;
}

/* section 4 */

#section4{
  min-height: 100vh;
  position: relative;
}

#section4 img{
  border: 10px solid #fff;
  box-shadow: 0 0 30px #73442536;
  position: absolute;
}

#section4 .img1{
  max-width: 260px;
  top: 12%;
  left: 3%;
  transform: rotate(15deg);
}

#section4 .img2{
  max-width: 470px;
  right: 4%;
  top: 22%;
  transform: rotate(14deg);
}

#section4 .img3{
  max-width: 340px;
  left: 10%;
  bottom: 12%;
  transform: rotate(-12deg);
}

/* section 5 */

#section5{
   text-align: center;
   padding-top: 4vw;
   padding-bottom: 8vw;
   min-height: 94vh;
}

#section5 .product-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 3rem;
}

#section5 img{
  width: 100%;
  max-width: 300px;
  margin-bottom: 1.5rem;
  filter: drop-shadow(6px 15px 5px #00000018);
}

.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.product .name{
  font-size: 24px;
  font-weight: 500;
}

.product .price{
  font-size: 24px;
  font-weight: 700;
}

/* section 6 */

#section6{
  min-height: 100vh;
  display: flex;
  align-items: start;
  gap: 5vw;
  padding-bottom: 8vw;
}

#section6 img{
  box-shadow: 0 0 30px #73442536;
}

#section6 p{
  margin-bottom: 1rem;
}

/* footer */

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  border-top: 2px solid var(--primary-color);
}

footer .logo{
  max-width: 132px;
}

footer .social{
  display: flex;
  align-items: center;
  gap: 1rem;
}